
img {
  max-width: 100%;
  max-height: 100%
}
body {
  color: rgb(250,246,235);
  font-family: Arial, Verdana, sans-serif;
  align: center;
  background-color:

}

  /* Site Name*/
  h1 {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 1px;
    letter-spacing: 0.15em;
  }

  h4 {
    padding: 10px;
    p
  }

  p {
    padding: 10px;
    align: justify;
  }


.menu-item {
    font-family: sans-serif;
    display: inline-block;
    width: 8em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    color: rgb(250,246,235);
    margin: .25em;
    font-size: 14pt;
    font-weight: lighter;
}

/* Links: */
.menu-item:hover, .dropdown:hover {
    background-color: rgb(242,104,97);
}

/* Content*/
.main-container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
    height: 300px;

}

.header {
  background-color: rgb(38,38,38);
  height: 80%
}

.links {
  background-color: rgb(15,86,95);
  text-align: center;
  line-height: 50px;
  padding: 0px;
  font-kerning: auto;
  height: 50%
}

.image {
    background-color: rgb(250,246,235);
    max-width: 100%;
    height: auto;


}

.pink {
    background-color: rgb(242,104,97);
    width: 300px;
    height: auto;

}

.green {
    background-color: rgb(204,224,205);
    color: rgb(15,86,95);
  }

@media (min-width: 450px) {
  .header {
      width: 100%;
      font-size: 12pt;
  }
  .navagation {
      width: 100%;
  }
    .image, .pink {
        width: 50%;
  }
  .green {
      width: 100%;
}
}

@media (min-width: 550px) {
  .header {
      width: 100%;
  }
  .navagation {
      width: 100%;
  }
    .image, .pink, .green {
        width: 33.%;
        font-size: 18pt;
      }
}


@media (min-width: 1020px) {
    .main-container {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
