* {
    font-family: 'OpenSans';
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i');

/* Main container for content */
.main-container {
  padding: 2em;
  background: rgb(255, 255,255);
  font-family: serif;
}

/*Body of the site */
.body {
    border-style: double;
    border-width: 4px;
    border-color: rgb(198,183,154);
    background-color: rgb(255,255,255);
    font-size: 12pt;
    font-family: serif;
    line-height: 1.45em;
    letter-spacing: 0.1em;
    word-spacing: 1px;
    padding: 2em;
    overflow: scroll
}

/* Menu Header */
header {
    margin: 0 0 2em 0;
    padding: 0;
}

/* Set the layout of the menu: */
.menu-container {
    background-color: rgb (186, 146, 153);
    margin: 0;
    padding: 0;
    min-width: 100px;
    font-kerning: auto;
}

.main-container aside.content-side {
    float: right;
    margin: 2em;
    margin-top: 4em;
    padding: 0;
    width: 25%;
    color: #fff;
    background-color: rgb(198, 183,154 );
    font-weight: normal;
}

aside .aside-head {
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    background-color: rgb(208,238,240);
    color: rgb(65, 23, 45);
}

aside .aside-text {
    padding-top: 2em;
    padding-bottom: 2em;

}

aside .aside-text p {
    font-style: italic;
    padding: 0.25em 1em;
    margin: 0;
    text-align: justify;
    color: #fff;
}


aside .aside-img img {
    display: block;
    padding: 10px;
    position: relative;
    margin: 1.5em auto;
}

.menu-item {
    display: inline-block;
    width: 8em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    color: rgb(65, 23, 45);
    margin: .25em;
    font-size: 14pt;
    font-weight: bold;
}

/* Links: */
.menu-item:hover, .dropdown:hover {
    color: #fff;
    background-color: rgb(208,238,240);
}

/* Dropdown: */
.dropdown {
    display: inline-block;
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 3px groove #27435C;
    margin: 0;
    color: #000;
    background-color: #fff;
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: #fff;
    background-color: rgb(186,146,153);
}

/* Lower Header: */
.lower-header {
    margin: 0;
    background-color: rgb(186,146,153);
    height: 110px;
}

.site-name {
    float: left;
    padding: 25px 10px;
    margin-left: 0.5em;
    font-weight: lighter;
    font-size: 2.5em;
    color: #fff;
}

.site-logo {
    font-size: 2.5em;
    float: right;
    padding: 15px 10px;
    margin-right: 0.25em;
}

.site-logo img {
    height: 80px;
}

.body-2 {
    font-size: 12pt;
    background-color: rgb(255,255,255);
    font-family: sans-serif;
    line-height: 1.45em;
    letter-spacing: 0.1em;
    word-spacing: 1px;
    padding: 8px;
}

.heading {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(189,146,153);
    background-color: rgb(189,146,153);
    text-align: center;
    text-decoration: none;
    font-family: opensans, monospace, sans-serif;
    font-size: 300%;
    text-shadow: 1px 1px 2px #666666;
    padding: 0px;
    padding-bottom: 5px;
    font-variant: none;
    letter-spacing: 0.1em;
    word-spacing: 1.5px;
    font-weight: normal;
    color: rgb(255,255,255);
    line-height: 1.45em;
    display: block;
  }

h1 {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-BoldItalic.ttf') format('opentype');
  font-weight: bold;
  color: rgb(65, 23, 45);
  font-size: 40pt;
  align: center;
  }

h2 {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf') format('opentype');
  font-weight: light;
  font-style: normal;
  color: rgb(65, 23, 45);
  font-size: 15pt;
  text-decoration: none;
  }

  h3 {
    color: white;
  }

  p {
    font-size:16pt;
    text-align: justify;
    font-family: 'OpenSans';
    line-height: 1.45em;
}

  .PoemBody {
    font-size: 16pt;
    color: rgb(65,23,45);
    font-family: sans-serif;
    line-height: 1.45em;
    letter-spacing: 0.1em;
    word-spacing: 1px;
    padding: 8px;
  }

  .text-element::first-letter {
    color: rgb(65, 23, 45);
    font-size: 200%;
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-BoldItalic.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }

  .about {
    font-size: 16pt;
    word-spacing: 1.5px;
    line-height: 1.45em;
    text-indent: inherit;
    padding: 2em;
    color: rgb(255, 255, 255);
  }

  .parent-1 {
   background-color: rgb(208, 238, 240);
   padding: 1em;
   margin: 1em;
   height: 1180px;
   width: 550px;
   float: right;
}
.parent-1 div {
   background-color: rgb(189,146,153);
   padding: 1.5em;
   margin: .5em;
}

.Title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 14pt;
}

.reviewone {
   color: rgb(255, 255, 255);
  text-align: justify;
     font-style: italic;
  font-size: 12pt;
}

.reviewtwo{
   color: rgb(255, 255, 255);
   text-align: justify;
      font-style: italic;
   font-size: 12pt;
}

.reviewthree{
   color: rgb(255, 255, 255);
   text-align: justify;
      font-style: italic;
   font-size: 12pt;
}

.parent-2 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(198,183,154);
  background-color: rgb(208, 238, 240);
 font-color: rgb(255, 255, 255);
 padding: 1em;
 margin: .5em;
display: block;
}

.parent-2 div {
   background-color: rgb(198,183,154);
   padding: 1.5em;
   margin: .5em;
}


.content {
   color: rgb(255, 255, 255);
  text-align: justify;
  font-size: 18pt;
}

.forms {
   color: rgb(255, 255, 255);
  text-align: justify;
  font-weight: bold;
  font-size: 12pt;
}

.quote{
  font-family: fantasy;
  text-transform: capitalize;
  font-size: 14pt;
  color: rgb(189,146,153);
  border-style: ridge;
  border-width: 3px;
  border-color: rgb(198,183,154);
  background-color: rgb(255,255,255);
  text-align: center;
  padding-bottom: 5px;
  padding-top: 4px;
  font-variant: none;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1em;
  word-spacing: 1.5px;
  line-height: 1.45em;
  display: block;
}



.images {
  float: left;
}
